body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.container {
  background: white;
  padding: 20px;
  width: 300px;
  margin: 100px auto;
  border-radius: 5px;
}

input {
  width: 70%;
  padding: 5px;
}

button {
  padding: 6px;
  cursor: pointer;
}

li {
  margin-top: 10px;
}

